/* IslandHotel.css */
.island-hotel-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #87CEEB;
    /* Цвет океана */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.book-now-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    /* Зеленый цвет кнопки */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-now-button:hover {
    background-color: #45a049;
    /* Темно-зеленый цвет при наведении */
}